<a style="margin-bottom: 10px;" [routerLink]="'/hcphome'" class="btn btn-outline-primary mt-2" href="#">Video Library</a>

<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 1: Bias—Is Obesity a Real Condition?
            </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nq4IkM6QsuM?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 2: Bias—Are We Clueless About Obesity Treatment?
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ep6AgQcUjg4?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingThree" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 3: Expectations
            </h5>
        </div>

        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dwCqWR6akPc?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFour" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 4: Exercise
            </h5>
        </div>

        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qtYLqXiYy0I?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFive" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 5: Dietary Pattern
            </h5>
        </div>

        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GmMR8t16TdM?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSix" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 6: Values Clarification
            </h5>
        </div>

        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4VkjIaW3RA4?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSeven" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 7: Wanting
            </h5>
        </div>

        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Nb2eS1wFXBY?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingEight" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 8: The Calorie Deficit
            </h5>
        </div>

        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9ZmaU_e3J2s?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingNine" data-toggle="collapse" href="#collapseNine" role="button" aria-expanded="false" aria-controls="collapseNine">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 9: Restraint
            </h5>
        </div>

        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UGkYIRjedDU?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTen" data-toggle="collapse" href="#collapseTen" role="button" aria-expanded="false" aria-controls="collapseTen">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 10: Resilience
            </h5>
        </div>

        <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m3aYH2XXdIw?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingEleven" data-toggle="collapse" href="#collapseEleven" role="button" aria-expanded="false" aria-controls="collapseEleven">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 11: Value Reflection
            </h5>
        </div>

        <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1cinA22adxA?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTwelve" data-toggle="collapse" href="#collapseTwelve" role="button" aria-expanded="false" aria-controls="collapseTwelve">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 12: Modulators of Wanting Restraint
            </h5>
        </div>

        <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sS5i6XIiNOg?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingThirteen" data-toggle="collapse" href="#collapseThirteen" role="button" aria-expanded="false" aria-controls="collapseThirteen">
            <h6>VIDEO</h6>

            <h5 class="mb-0">
                Chapter 13: Pharmacotherapy and Bariatric Surgery
            </h5>
        </div>

        <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Cn0y4COil0I?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
