<div class="page-title">
    Video Library <img class="play-icon" src="images/play.png" alt="Play Icon" />
</div>
<div class="row library-selection">

    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/HCPCharactersVideo"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="doc-icon">
                        </div>

                        <div class="video-info">
                            <h4>Appetite System Animation: The GateKeeper, The GoGetter, and The SleepyExecutive</h4>
                            <h6>Dr. David Macklin MD CCFP</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/HCPBiasVideo"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="doc-icon">
                        </div>

                        <div class="video-info">
                            <h4>Bias and Obesity Quickdraw</h4>
                            <!-- <h6>Dr. David Macklin MD CCFP</h6> -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/MacklinSeries"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="doc-icon">
                        </div>

                        <div class="video-info">
                            <h4>Obesity: Conversation Fundamentals & Treatment</h4>
                            <h6>Dr. David Macklin MD CCFP</h6>
                            <!-- <h6>VIDEOS</h6> -->
                        </div>

                    </div>


                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/VallisSeries"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="doc-icon">
                        </div>

                        <div class="video-info">
                            <h4>Motivational Communication in Obesity Management</h4>
                            <h6>Dr. Michael Vallis PhD, R. Psych</h6>
                        </div>

                    </div>


                </div>
            </a>
        </div>
        <!-- <div style="color: #058199;"><strong>CALLOUT:</strong> &nbsp;<a href="mailto:DLML@novonordisk.com?subject=Obesity educator appointment request&body=Hello,%0D%0A%0D%0AI am interested in receiving additional obesity support and/or would like to speak with an obesity educator to learn more. Please find my contact details below:%0D%0A%0D%0AFirst name:%0D%0ALast name:%0D%0AClinic/hospital:%0D%0APhone number:%0D%0ABest time to contact me:%0D%0A%0D%0A%0D%0A">Contact us</a>&nbsp;for
            additional support or to speak with an obesity educator</div> -->

        <h4 style="color: #058199;"><u><a href="mailto:DLML@novonordisk.com?subject=Obesity educator appointment request / Demande de rendez-vous avec un éducateur en obésité&body={{body}}">Contact us</a></u>&nbsp;(EN/FR) for additional support or to speak with an obesity educator
        </h4>
    </div>





    <!-- <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/Training"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="doc-icon">
                        </div>

                        <div class="video-info">
                            <h4>OCS Training videos, Not for Distribution</h4>

                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div> -->
    <!-- <h6>Dr. Ali Zentner, MD, FRCPC, Diplomat of ABOM</h6> -->
</div>