<div class="page-title">
    Video Library <img class="play-icon" src="images/play.png" alt="Play Icon" />
</div>
<div class="row library-selection">
    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/CharactersVideo"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="patient-icon">
                        </div>

                        <div class="video-info">
                            <h4>Appetite System Animation: The GateKeeper, The GoGetter, and The SleepyExecutive</h4>
                            <h6>Dr. David Macklin MD CCFP</h6>
                            <!-- <h6>VIDEOS</h6> -->
                        </div>

                    </div>


                </div>
            </a>
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        <div id="accordion" role="tablist">
            <a [routerLink]='["/BiasVideo"]'>
                <div class="card">
                    <div>
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-header" role="tab" id="headingOne" aria-expanded="true">
                        <div class="patient-icon">
                        </div>

                        <div class="video-info">
                            <h4>Bias and Obesity Quickdraw</h4>
                            <!-- <h6>Dr. David Macklin MD CCFP</h6> -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
