<a style="margin-bottom: 10px;" [routerLink]="'/hcphome'" class="btn btn-outline-primary mt-2" href="#">Video Library</a>
<p>To access the PDF that corresponds to the videos below, <a href="resources/Motivational-Flash-Cards-ENG.pdf" target="_blank">click here</a>.</p>
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
            <h6>VIDEO</h6>
            <h5 class="mb-0">
                1. Introduction to Motivational Communication in Obesity Management
            </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y15kOTdAXnQ?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingTwo" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="true" aria-controls="collapseTwo">

            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/moving-from-teach-and-tell.jpg" alt="Moving from Teach and Tell">
                </div>

                <div class="col-md-7 video-desc">
                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        2. Moving from 'Teach and Tell' to 'Collaborate and Empower' In Chronic Disease Management

                    </h5>

                    <a href="#collapseTwo" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseTwo" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t-Jb9n_cHZY?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingThree" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/motivational-communication1.jpg" alt="Motivational Communication: Part 1">
                </div>

                <div class="col-md-7 video-desc">
                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        3. Motivational Communication: Part 1

                    </h5>

                    <a href="#collapseThree" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseThree" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OcvxyGPHf0Q?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFour" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/motivational-communication2.jpg" alt="Motivational Communication: Part 2">
                </div>

                <div class="col-md-7 video-desc">
                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        4. Motivational Communication: Part 2

                    </h5>

                    <a href="#collapseFour" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFour" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wOpQT4nppT4?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingFive" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/change-skills.jpg" alt="Change Skills">
                </div>

                <div class="col-md-7 video-desc">

                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        5. Change Skills

                    </h5>


                    <a href="#collapseFive" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFive" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fxM3rSTADG0?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSix" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/communicate-to-negotiate.jpg" alt="Communicate to Negotiate">
                </div>

                <div class="col-md-7 video-desc">

                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        6. Communicate to Negotiate
                    </h5>


                    <a href="#collapseSix" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSix" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OlWlfWBGkQk?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingSeven" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/getting-your-head-around.jpg" alt="Getting your head around self-management">
                </div>

                <div class="col-md-7 video-desc">

                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        7. Getting your head around Self-Management
                    </h5>


                    <a href="#collapseSeven" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSeven" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cRfu3hCP4AE?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingEight" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/readiness-assessment.jpg" alt="Readiness Assessment">
                </div>

                <div class="col-md-7 video-desc">

                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        8. Readiness Assessment
                    </h5>


                    <a href="#collapseEight" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEight" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNaJ-I7-bWc?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" role="tab" id="headingNine" data-toggle="collapse" href="#collapseNine" role="button" aria-expanded="false" aria-controls="collapseNine">
            <div class="row video-info">
                <div class="col-md-4">
                    <img src="images/vallis/post-readiness-assessment.jpg" alt="Post-Readiness Assessment">
                </div>

                <div class="col-md-7 video-desc">

                    <h6>VIDEO</h6>
                    <h5 class="mb-0">
                        9. Post-Readiness Assessment
                    </h5>


                    <a href="#collapseNine" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseNine" class="btn btn-outline-primary mt-2">Click to show/hide video</a>

                </div>
            </div>
        </div>

        <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M-_33myALN4?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
